<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up </title>
</head>
<body>
    <h1>User Registration form</h1>
    <form action="" method="POST" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="error">{{error|striptags}}</p>
            {% endfor %}
        {% endif %}

        {% for form in form %}
            {{form.label_tag}}{{form}}{{form.errors|striptags}} <br> <br>
        {% endfor %}
        <input type="submit" value="Sign-Up" >
        <a href="{% url 'login-view' %}">Login Here</a>
    </form>
</body>
</html>